<div class="container has-text-centered">
  <div style="margin-top: 2em;" class="card">
    <div class="card-content">
      <h1 class="title">Zark Billing - Confirm Signup</h1>

      <p>Hi, <%= @user.name %></p>

      <br/>

      <p>
        Welcome to Zark Billing. Please click the link below to confirm your account:
      </p>

      <br/>

      <%= link_to 'Activate My Account', signup_activate_url(
        email: @user.email, token: @user.activation_token), class: 'button is-link has-text-weight-bold' %>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>
