<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      html {
        box-sizing: border-box;
        background-color: #000;
        font-size: 16px;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        min-width: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
      }
      body {
        font-size: 1rem;
        line-height: 1.5;
        color: #fff;
        font-weight: 400;
        font-family: BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
        padding: 0;
        margin: 0;
      }
      .container {
        max-width: 1152px;
        /* width: 1152px; */
        margin: 0 auto;
        position: relative;
      }
      .has-text-centered {
        text-align: center!important;
      }
      .has-text-weight-bold {
        font-weight: 700!important;
      }
      div {
        display: block;
      }
      .card {
        box-shadow: none;
        background-color: #363636;
        color: #fff;
        max-width: 100%;
        position: relative;
      }
      .card-content {
        padding: 1.5rem;

      }
      .title:not(:last-child) {
        margin-bottom: 1.5rem;
      }
      .title {
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.125;
        word-break: break-word;
      }
      p {
        color: #fff !important;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
